<ion-card *ngIf="agrupacion" class="agrupacion-card">
  <ion-badge
    *ngIf="agrupacion"
    [color]="agrupacion.premio ? 'warning' : 'light'"
    class="premio-badge">
    {{ agrupacion.premio ? '⭐ 1º Premio' : 'Sin Premio' }}
  </ion-badge>

  <img [src]="agrupacion.img" alt="{{ agrupacion.nombre }}"
    class="agrupacion-img" />

  <ion-card-header>
    <ion-card-title>
      {{ agrupacion.nombre }}
    </ion-card-title>
    <ion-card-subtitle>
      {{ agrupacion.modalidad }} - {{ agrupacion.anno }}
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-text color="dark">
      <p><strong>Autor:</strong> {{ agrupacion.autor }}</p>
      <p><strong>Estreno:</strong> {{ agrupacion.fecha_estreno |
        date:'longDate':'':'es' }}</p>
    </ion-text>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="!agrupacion" class="agrupacion-card empty">
  <ion-card-content>
    ⚠️ No hay datos de agrupación disponibles.
  </ion-card-content>
</ion-card>
